<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京燃气网上报装.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>31F681C10C6B7CF5274B46A9A20B6AC83CC1EA2D</string>
				<key>dateExpires</key>
				<string>2021/8/28</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H8MBHLKU69.com.aerotop.bjgas</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H8MBHLKU69</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>H8MBHLKU69.com.aerotop.bjgas</string>
				</array>
			</dict>
			<key>name</key>
			<string>bjgaswsbz.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>45f6ec79-f97a-4269-844a-7b87e07e433d</string>
				<key>name</key>
				<string>bjgas-aerotop</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H8MBHLKU69</string>
				<key>name</key>
				<string>Beijing Gas Group Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
